*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
.social-media-section{
    display: grid;
    height: 100vh;
    width: 100%;
    place-items: center;
    background-color: #003a78;
}
.container a{
    text-decoration: none;
    margin: 1px;
    color: #fff;
}
.container a i{
    padding: 10px;
    border-radius: 50px;
    transition: .3s linear;
}
.container a:nth-child(1) i:hover{
    /* background: linear-gradient(180deg,transparent, #DD2A7B); */
    background-color: #DD2A7B;
}
.container a:nth-child(2) i{
    padding: 10px 13px;
}
.container a:nth-child(5) i{
    padding: 10px 11px;
}
.container a:nth-child(2) i:hover{
    background-color: #3B5998;
}
.container a:nth-child(3) i:hover{
    background-color: #c4302B;
}
.container a:nth-child(4) i:hover{
    background-color: #0E76A8;
}
.container a:nth-child(5) i:hover{
    background-color: #25d366;
}
.container a:nth-child(6) i:hover{
    background-color: #55ACEE;
}